<h1></h1>
<hr><br>

<form>
  <label for="vrsta">VRSTA:</label>
  <input name="vrsta" type="text" [(ngModel)]="newAnimal.vrsta"/>

  <label for="ime">IME:</label>
  <input name="ime" type="text" [(ngModel)]="newAnimal.ime"/>

  <label for="datum_rodjenja">RODJENJE:</label>
  <input name="datum_rodjenja" type="text" [(ngModel)]="newAnimal.datum_rodjenja"/>

  <button (click)="addAnimal()">Add Animal</button>

</form><br>
<table>
  <thead>
    
    <th>vrsta</th>
    <th>ime</th>
    <th>datum_rodjenja</th>
    
  </thead>
  <tr *ngFor="let animal of animals">
    <td>{{ animal.vrsta }}</td>
    <td>{{animal.ime}}</td>
    <td *ngIf="!animal.datum_rodjenja">nema<td>
    <td *ngIf="animal.datum_rodjenja">{{animal.datum_rodjenja}}</td>
    <td>
      <button class="btn btn-danger"
        (click)="removeAnimal(animal)">
        X
      </button>
    </td>
  </tr>
 
 </table>